; Top-most EditorConfig file
root = true

; 4-column space indentation
[*]
indent_style = space
indent_size = 4
trim_trailing_spaces = true

[*.scss]
indent_style = space
indent_size = 2
trim_trailing_spaces = true

[*.js]
indent_style = space
indent_size = 2
trim_trailing_spaces = true