.board {
  position: relative;
  display: flex;
  min-height: calc(100vh - 149px);
  flex-direction: column;
  padding: 0 0 10px;
  box-sizing: border-box;

  &__header {
    padding: 10px;
  }

  &__content {
    flex: 1;
  }

  .col {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 10px;
      right: 10px;
      background: rgba(244, 245, 247, .8);
    }

  }

  .work-item {
    position: relative;
    padding: 10px;
    opacity: .9;
    background: rgba(salmon, .6);
    transition: background .3s;

    &:hover {
      background: rgba(salmon, 1);
      cursor: move;
    }

  }

}