.board-column {
  position: relative;
  margin-bottom: 50px;

  > div {
    height: 100%;
  }

  h3 {
    position: absolute;
    transform: translateY(calc(-100% - 20px));
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    background: rgba(244, 245, 247, .8);
  }

  &--is-dragging-over {

    &::before {
      background: #deebff;
    }

  }

  &--dropping-enabled {

    &.board-column--is-dragging-over {

      &::before {
        background: rgba(#deebff, 1);
      }

    }

    &::before {
      border: 2px dashed $blue;
      background: rgba(#deebff, .6);
    }

  }

}